<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
<div id="contact_page">
  <h1>Contact Us</h1>
  <center>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :name, nil, class: "contact_tag" %>
        <%= text_field_tag :name, nil, class: "btn btn-default form-control",  placeholder: "Enter Name", :required => true %>
      </div>      
      <div class="form-group">
        <%= label_tag :email, nil, class: "contact_tag" %>
        <%= text_field_tag :email, nil, class: "btn btn-default form-control", placeholder: "Enter Email", :required => true %>
      </div>
      <div class="form-group">
        <%= label_tag :message, nil, class: "contact_tag" %>
        <%= text_area_tag :message, nil, class: "btn btn-default form-control", placeholder: "Enter Message", :required => true %>
      </div>  
        <%= submit_tag "Submit", class:'btn btn-info' %>
        <% end %>
    </div>
  </center>
  </div>
</div>

<center>
  <div class="pic">
    <%= image_tag("http://images.media-allrecipes.com/userphotos/250x250/00/70/88/708879.jpg", class: "img-responsive") %>
  </div>
</center>

