<body>
    <container class="body">
        <h1 id="home_page">Kelly's Cakes</h1>
        <p class="paragraph">Amazing cakes, amazing memories</p>
        
           <div class="pic">
            <%= image_tag("http://images.media-allrecipes.com/userphotos/250x250/00/70/88/708879.jpg", class: "img-responsive") %>
           </div>
           
           <div class="description">
               <p>Kelly's Cakes combines the delicate preparation of a <br> bakery with the love and care of your kitchen.
               </p>
           </div>
           
  <div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
          <%= image_tag(product.image_url, class: "img-responsive") %>
        <h1><%= link_to product.name, product %></h1>
        <p><%= product.description %></p>
        <strong>$ <%= product.price %></strong>
      </div>
    <% end %>
  </div>
</div>

    </container>
</body>

