<% cache product do %>
<div class="img-container">
    <p><%= image_tag(product.image_url, class: "img-responsive") %></p>
</div>

<div class="product_name">
<h3 class="text-center"><%= product.name %></h3>
</div>

<div class="product_desc">
    <h4 class="text-center"><%= product.description %></h4>
</div>


<div class="price">
    <h4 class="text-center"><%= product.price %></h4>
</div>
    
<div id="product_row" class="row">
    <div class="col-md-4">
        <%= link_to 'View', product , :class=>"btn btn-success"%>
    </div>
    <div class="col-md-4">
         <%= link_to 'Edit', edit_product_path(product), :class=>"btn btn-warning" %>
    </div>
    <div class="col-md-4">
          <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-product" %>
    </div>
</div>

<% end %>