<!DOCTYPE html>
<html>
<head>
  <title>Kelly's Cakes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!--  test -->
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#navigationbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>
      <!-- test -->
      <div class="navbar-collapse collapse" id="navigationbar">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to('Home', root_path) %></li>
          <li><%= link_to('Products', products_path) %></li>
          <li><%= link_to('About', static_pages_about_path) %></li>
          <li><%= link_to('Contact', static_pages_contact_path) %></li>
          <li>
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path) %>
            <% end %>
          </li>
          <li>  
            <form id='search-form' class='form-inline'>
              <%= form_tag("/products", method: "get", class:'navbar-form navbar-right') do %>
              <%= text_field_tag(:q, nil, class: 'search-form form-control', placeholder: 'Search Products') %>
              <%= submit_tag("Search", class:'btn btn-default search-button', type:'submit') %>
              <% end %>
             </form> 
          </li>
         </ul>      
      </div>
    </div>
  </nav>

  <div class="wrapper"> 
    <% if notice %>
      <p class="notice" role="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert" role="alert"><%= alert %></p> 
    <% end %>
  </div>

  <div id="main">
    <p class="time"> Welcome to Kelly's Cakes! It's Cake Time: <%= Time.now.to_formatted_s(:time) %></p>
    <%= yield %>
  </div>

  <footer id="footer">
    &copy; 2016 Kel's Cakes
  </footer>
</body>
</html>
