<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav>
  <ul class="nav">
    <a href="home_page">Home</a>
    <a href="/static_pages/about">About</a>
    <a href="#contact">Contact</a>
  </ul>
</nav>


<p class="time"> Welcome! The time to buy Kelly's Cakes is <%= Time.now %></p>

<div class="wrapper"> <p class="notice"><%= notice %></p> <p class="alert"><%= alert %></p> <%= yield %> </div>

<footer id="footer">
  &copy; 2016 Kel's Cakes
</footer>

</body>
</html>
