<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav>
  <ul class="nav">
    <li><%= link_to('Home', root_path) %></li>
    <li><%= link_to('Products', products_path) %></li>
    <li><%= link_to('About', static_pages_about_path) %></li>
    <li><%= link_to('Contacts', static_pages_contact_path) %></li>
    
    <%= form_tag("/products", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <%= end %>
  </ul>
  <ul class="nav pull-right">
    <li>
      <%= if user_signed_in? %>
        <%= link_to ('Logout', destroy_user_session_path, :method => :delete) %>
      <%= else %>
        <%= link_to('Login', new_user_session_path) %>
      <%= end %>
    </li>
  </ul>
</nav>


<p class="time"> Welcome! The time to buy Kelly's Cakes is <%= Time.now %></p>


<div class="wrapper"> 
  <p class="notice"><%= notice %></p> 
  <p class="alert"><%= alert %></p> 
</div>

<%= yield %>

<footer id="footer">
  &copy; 2016 Kel's Cakes
</footer>

</body>
</html>
